NODE_ENV="development"
DATABASE_URL="mysql://beekeeper:gay@localhost:3306/higure_db"
REDIS_URL="redis://localhost:6379"

JWT_SECRET="SUPERSECRET123"
JWT_REFRESH_SECRET="GANG1243"
JWT_EXPIRES_IN=86400000 # 24 hours
GOOGLE_GENERATIVE_AI_API_KEY=